<p id="notice"><%= notice %></p>

<h1>Rooms</h1>

<%= form_tag rooms_path, :method => :get do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search Near", :name => nil %>
  </p>
<% end %>

<table>
  <thead>
    <tr>
      <th>Price</th>
      <th>Host Name</th>
      <th>Room name</th>
      <th>Description</th>
      <th>Country</th>
      <th>Location</th>
      <th>Bed</th>
      <th>Bathroom</th>
      <th>Capacity</th>
      <th>Pets</th>
      <th>Smoking</th>
      <th>Wifi</th>
      <th>Date Created</th>
       <th>Updated</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>

    <% @rooms.each do |room| %>
      <tr>
        <td><%= room.price %></td>
        <td><%= room.host_name %></td>
        <td><%= room.room_name %></td>
        <td><%= room.description %></td>
        <td><%= room.country %></td>
        <td><%= room.location %></td>
        <td><%= room.bed %></td>
        <td><%= room.bathroom %></td>
        <td><%= room.capacity %></td>
        <td><%= room.pets %></td>
        <td><%= room.smoking %></td>
        <td><%= room.wifi %></td>
        <td><%= time_ago_in_words(room.created_at)%> ago </td>
        <td><%= time_ago_in_words(room.updated_at)%> ago </td>
<<<<<<< HEAD
        <td><%= image_tag room.avatar.url(:thumb) %></td>
=======
        <td><%= image_tag room.avatar.url(:medium) %></td>
>>>>>>> dce26c2f005a04950d404bd3be009bc50f2e0b5f
       <td><%= link_to 'Show', room %></td>
       <td><%= link_to 'Edit', edit_room_path(room) %></td>
       <td><%= link_to 'Destroy', room, method: :delete, data: { confirm: 'Are you sure?' } %></td>
     </tr>
   <% end %>
 
 </tbody>
</table>

</br>
</br>

<div id="map"></div>
  <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCHOnCFKBdLisShrN4r41bfyqR02ZWZ6Bs&callback=initMap">
    </script>
    <script>
      function initMap() {
        var uluru = {lat: 14.5651063, lng: 120.9939266 };
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 10,
          center: uluru
        });
        <% @rooms.each do |room| %>
        var marker = new google.maps.Marker({
          position: {lat:<%= room.latitude %>, lng: <%= room.longitude %>},
          map: map
        });
        <% end %>

      }
    </script>
    

</br>


<%= link_to 'New Room', new_room_path %>

