
</br>
</br>


<div id="map"></div>
    <script>
      function initMap() {
        var uluru = {lat: <%= @room.latitude %>, lng: <%= @room.longitude %>};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 10,
          center: uluru
        });
        var marker = new google.maps.Marker({
          position: uluru,
          map: map
        });
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCHOnCFKBdLisShrN4r41bfyqR02ZWZ6Bs&callback=initMap">
    </script>

<h3>Nearby</h3>
    <div class="row">
      <% for room in @room.nearbys(10) %>
       <li><%= link_to room.location, room %> (<%= room.distance.round(2) %> kilometers away) </li>
<% end %>
       <td><%= image_tag room.avatar.url(:thumb) %></td>
   </div>


 </br>
   </br>






<div id="map"></div>
    <script>
      function initMap() {
        var uluru = {lat: <%= @room.latitude %>, lng: <%= @room.longitude %>};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 10,
          center: uluru
        });
        var marker = new google.maps.Marker({
          position: uluru,
          map: map
        });
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCHOnCFKBdLisShrN4r41bfyqR02ZWZ6Bs&callback=initMap">
    </script>

<h3>Nearby</h3>
    <div class="row">
      <% for room in @room.nearbys(10) %>
       <li><%= link_to room.location, room %> (<%= room.distance.round(2) %> kilometers away) </li>
<% end %>
   </div>

   </br>
   </br>




<p>
  <strong>Photo:</strong>
  <%= image_tag(@room.avatar.url(:medium)) %>
</p>

<p>
  <strong>Host Name:</strong>
  <%= @room.host_name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @room.price %>
</p>


<p>
  <strong>Room name:</strong>
  <%= @room.room_name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @room.description %>
</p>

<p>
  <strong>Country:</strong>
  <%= @room.country %>
</p>

<p>
  <strong>Location:</strong>
  <%= @room.location %>
</p>

<p>
  <strong>Bed:</strong>
  <%= @room.bed %>
</p>

<p>
  <strong>Bathroom:</strong>
  <%= @room.bathroom %>
</p>

<p>
<strong>Capacity:</strong>
<%= @room.capacity %>
</p>

<p>
<strong>Pets:</strong>
<%= @room.pets %>
</p>

<p>
<strong>Smoking:</strong>
<%= @room.smoking %>
</p>

<p>
<strong>Wifi:</strong>
<%= @room.wifi %>
</p>

<%= render 'bookings/form', booking: @booking %>


<p> AVERAGE RATING <p>
<div class="average-review-rating" data-score=<%= @average_review %>></div>
<span> Based on <%=@room.reviews.count %> review/s </span>
</p>


<!-- Review & Ratings -->
</br>
</br>

<%= render @room.reviews %>

<div>
  <%= link_to "Add Review", new_room_review_path(@room) %>
</div>


<%= link_to 'Edit', edit_room_path(@room) %> |
<%= link_to 'Back', rooms_path %>

<script>
   $('.review-rating').raty({
     readOnly: true,
     score: function() {
       return $(this).attr('data-score');
     }
   });
 </script>

 <script>
   $('.average-review-rating').raty({
     readOnly: true,
     score: function() {
       return $(this).attr('data-score')
     }
   });
 </script>


